*{
    margin: 0;
    padding: 0;
    font-family: "Delius", serif;
}
:root{
    --bg-color: #1f242d;
    --bg2-color: #222327;
    --text-color: #fff;
    --main-color: #0ef;
    --main2-color:#ff811a;
    --main3-color:#ff3bd1;
    --main4-color :#0072ff;
}
body{
    background: var(--bg-color);
    text-align: center;
    color: var(--main-color);
    height: 100vh;
}
.header{
    /* margin-top: 10px; */
    padding-top: 1rem;
    height: 70px;
    line-height: 70px;
}
#gameHeader{
    font-size: 50px;
}
.turn{
    font-size: 15px;
}
#msg{
    padding-top: 25px;
}
.main{
    margin-top: -25px;
    height: 70vmin;
    display: flex;
    justify-content: center;
    align-items: center;
}
.game{
    height: 65vmin;
    width: 65vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    column-gap: 5px;
    row-gap: 5px;
}
.box{
    height: 17vmin;
    width: 17vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgba(66, 34, 34, 0.2);
    font-size: 11vmin;
    color: var(--main3-color);
    text-shadow: 0 0 2px var(--main3-color);
    font-weight: 450;
    font-family: "Permanent Marker", serif;
    background: #fff;
}
.btn-box{
    display: flex;
    justify-content: center;
    gap: 1.6rem;
}
.btn{
    padding: .5rem;
    background-color: var(--main2-color);
    color: #fff;
    font-size: 1.5rem;
    border-radius: 12px;
    border: none;
}
.winner{
    height: 63vmin;
    width: 63vmin;
    position: absolute;
    text-align: center;
    background: #fff;
    color: var(--main3-color);
    text-shadow: 0 0 2px var(--main3-color);
    border-radius: 1rem;
    line-height: 35px;
}
.congr{
    position: relative;
    vertical-align: middle;
    flex-wrap: nowrap;
    font-size: 25px;
    top: 30%;
}
#winnerName{
    font-family: "Permanent Marker", serif;
    font-size: 35px;
}
.hide{
    display: none;
}
input[type="radio"]{
    border: 5px #07252d solid;
    width: 20px;
    height: 20px;
}
input[type="radio"]:checked{
    border-radius: 0px;
    border: 2px #111 solid;
    background-clip: content-box;
    background-color: #111111;
}
.resCount{
    display: none;
}

.player-choice.hide{
    display: none;
}

.player-choice{
    position: fixed;
    left: 0;
    top: -10%;
    width: 100vw;
    height: 110vh;
    background: rgba(0, 0, 0, 0.3);
    backdrop-filter: blur(7px);
}
.player-choice div{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    align-items: center;
    gap: 2.5rem;
    flex-direction: column;
}
.player-choice div button{
    background-color: var(--main-color);
    box-shadow: 0 0 10px var(--main-color);
    color: var(--bg-color);
    transition: all 1s ease;
    font-size: 1.5rem;
}

.player-choice div button:hover{
    box-shadow: 0 0 70px var(--main-color);
}

@media (max-width :768px){
    body{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-40%);
        width: 100%;
        height: 83vh;
    }
    .player-choice{
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    .pcCount{
        display: none;
    }
    .resCount{
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: 70px;
    }
    .res{
        width: 30%;
        float: left;
    }
    .res:nth-child(2){
        width: 40%;
    }
}
@media (max-width :425px){
    h1{
        font-size: 1rem;
    }
    #gameHeader{
        font-size: 35px;
    }
}